/* General Styles */
.search-component {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 100%;
  margin: 0 auto;
  padding: 25px;
  background-color: #1e293b;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-bottom: 30px;
  align-items: center; /* Center the entire component content */
}

.search-component:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Search Input */
.search-input-container {
  position: relative;
  width: 50%; /* Set a fixed width for the search box */
  display: flex;
  justify-content: center; /* Center the search box */
}

.search-input {
  width: 100%;
  padding: 6px 20px 6px 12px; /* Make the padding smaller */
  font-size: 12px; /* Reduce font size */
  border: 2px solid #60a5fa;
  border-radius: 8px;
  background-color: #1e293b;
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #4b91e0;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #60a5fa;
  font-size: 16px;
  cursor: pointer;
}

.search-icon:hover {
  color: #4b91e0;
}

/* Category Button */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.checkbox-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-item:hover {
  color: #60a5fa;
}

.category-checkbox {
  margin-right: 8px;
  accent-color: #60a5fa;
  transition: all 0.2s ease;
  width: 16px; /* Smaller size */
  height: 16px; /* Smaller size */
}

.category-label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.category-icon {
  font-size: 18px; /* Reduced icon size */
  margin-right: 8px;
  color: #60a5fa;
  transition: color 0.3s ease;
}

.category-checkbox:hover {
  transform: scale(1.2);
}

.category-label:hover .category-icon {
  color: #4b91e0;
}

/* Category Button Styling */
.category-checkbox:checked + .category-label {
  color: #4b91e0;
  font-weight: bold;
}

.category-checkbox:checked + .category-label .category-icon {
  color: #4b91e0;
}

.category-checkbox:hover {
  border: 2px solid #4b91e0;
}

/* Responsive Design */
@media (max-width: 600px) {
  .search-component {
    padding: 15px;
  }

  .search-input-container {
    width: 80%; /* Make the search box wider on smaller screens */
  }

  .search-input {
    padding: 10px 30px 10px 12px;
  }

  .checkbox-group {
    justify-content: center;
  }

  .checkbox-item {
    font-size: 13px;
  }
}