body {
    background-color: #333;
    /*color: #ffffff;*/
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #444;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #555;
  }
  
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  footer a:hover {
    color: #007bff;
  }
  #header {
    background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
  }
  /* Custom CSS for cards */



  #header {
    margin-bottom: 40px; /* Adds space below the header section */
  }
  
  #header .btn {
    margin-right: 10px; /* Adds space between the buttons */
  }
  
  #header .btn:last-child {
    margin-right: 0; /* Removes extra margin from the last button */
  }
  
  .btn-primary, .btn-secondary {
    padding: 12px 20px; /* Adds more padding to the buttons */
  }
  
  .jumbotron {
    padding-bottom: 50px; /* Adds more space at the bottom of the jumbotron */
  }
  