.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: rgb(64, 154, 185);
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: rgb(71, 164, 221);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
 
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.story-content {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .deleteButton {
    padding: 10px 20px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 70px;
    cursor: pointer;
  }
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 12px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .book:hover .cover {
    transform: rotateY(-80deg);
  }
  
  .story-content {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .titleButton
  {
    opacity: 0.6;
    cursor: none;
  }
  
  .deleteButton {
    padding: 10px ;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .deleteButton:hover {
    background-color: #ff6b81;
  }
  .readButton
  {
    background-color: blue;
  }
 
